{% extends "base.html" %}
{% block content %}
  <!-- <div class="row"> -->
    {% for status in statuses %}
      <div class="col-md-{{ cols }}">
        <h3>{{ status }}</h3>
          {% for task in tasks %}
            {% if task.status == status %}
              <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' %}">{{ task.user }}</a>
                    <small class="text-muted">{{ task.created_at|date:"F d, Y" }}</small>
                  </div>
                  <h2><a class="article-title" href="{% url 'task-detail' task.id %}">{{ task.title }}</a></h2>
                  <p class="article-content">{{ task.status }}</p>
                </div>
              </article>
            {% endif %}
          {% endfor %}
      </div>
    {% endfor %}
  <!-- </div> -->
{% endblock content %}